@model IEnumerable<Movie>
@{
    ViewData["Title"] = "Index";
}


<div class="row">
    @foreach (var m in Model)
    {
        <div class="col-md-4 col-xs-6 border-warning mb-2">
            <div class="card mb-2" style="max-width: 540px;">
                <div class="row g-0">
                    <div>
                        <div class="col-md-12">
                            <div class="card-header bg-warning bg-opacity-50">
                                <h5 class="card-title">
                                    @m.Name
                                    <a class="btn btn-sm btn-outline-dark float-end" title="Edit"><i class="bi bi-pencil-square"></i></a>
                                </h5>
                            </div>
                            <div>
                                <div class="row mb-1">
                                    <div class="col-md-6">
                                        <img src="@m.Image" width="100%" />
                                    </div>
                                    <div class="col-md-6">
                                        <div class="card-body">
                                            <p class="card-text">@m.Description</p>
                                            <p class="card-text"><b>Cinema:</b> @m.Cinema.Name</p>
                                            <p class="card-text"><b>Category:</b> @m.MovieCategory.Category</p>
                                            <p class="card-text"><b>Producer:</b> @m.Producer.ProducerName</p>
                                            <p class="card-text"><b>Start Date:</b> @m.StartDate.ToShortDateString()</p>
                                            <p class="card-text"><b>End Date:</b> @m.EndDate.ToShortDateString()</p>
                                            <p class="card-text">
                                                <b>Status:</b>
                                                @if (DateTime.Now >= m.StartDate && DateTime.Now <= m.EndDate)
                                                {
                                                    <span class="badge bg-success text-white">AVAILABLE</span>
                                                }
                                                else if (DateTime.Now > m.EndDate)
                                                {
                                                    <span class="badge bg-danger text-white">EXPIRED</span>
                                                }
                                                else
                                                {
                                                    <span class="badge bg-primary text-white">UPCOMING</span>
                                                }
                                            </p>

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="card-footer">
                                    <p class="card-text d-flex justify-content-between">
                                        <a class="btn btn-sm btn-outline-primary" title="See Details" asp-action="Details" asp-controller="Movies" asp-route-id="@m.Id">
                                        <i class="bi bi-eye-fill me-sm-1"></i> Details</a>
                                        <span class="text-danger fw-semibold mt-sm-1">@m.Price.ToString("BDT 0.0")</span>
                                        <a class="btn btn-sm btn-outline-warning" title="Add to cart"><i class="bi bi-cart-plus me-sm-1"></i>Add to cart</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>
